<!doctype html>
<html lang="en">

<body>

  <%- include('./layouts/header'); %>
  <%- include('./layouts/navbar'); %>

  <div class="main-wrapper">
    <h1 class="gallery-title">2024 Images</h1>
    <div class="container">
      <div class="row g-3 justify-content-center">
        <% filenames.sort().forEach(function(name) { %>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="gallery-item">
            <a href="https://bottoms-up.b-cdn.net/2024/<%= name %>" class="glightbox" data-title="<%= name %>">
              <div class="gallery-image-wrapper">
                <img alt="<%= name%>" loading="lazy" src="https://bottoms-up.b-cdn.net/2024/<%= name %>?width=400&quality=80" class="img-fluid gallery-img">
                <div class="gallery-caption">
                  <%= name.replace(/[-_]/g, ' ').replace('.jpg','') %>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('./layouts/footer'); %>

  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    const lightbox = GLightbox();
  </script>
</body>

</html>