<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

   <body>

    <section>
      <%- include('./layouts/navbar'); -%>
    </section>

    <section id="images">    
      <div>
        <br>
        <h1 style="text-align: center;">2025 Images</h1>

      </div>
      <br>
      <div class="container">

        <div class="row justify-content-center">
          <% filenames.forEach(function(name) { %>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 my-2" style="padding: 10px">
              <a id="holder" href="https://bottoms-up.b-cdn.net/2025/<%= name %>"><img alt="<%= name%>" loading="lazy"
                  src="https://bottoms-up.b-cdn.net/2025/<%= name %>" class="img-fluid">
              </a>
            </div>
            <% }) %>
        </div>
      </div>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

  </body>

</html>