<!doctype html>
<html lang="en">
  <head>
    <%- include('layouts/header'); %>

    <style>
      table {
        margin: 0 auto;
      }

      .players-table {
        width: 1%;
        border-collapse: separate;
      }

      .players-table th,
      .players-table td {
        white-space: nowrap;
        vertical-align: middle;
        padding: 0.65rem 0.8rem;
      }

      table.players-table {
        width: 1% !important;
        table-layout: auto !important;
      }

      table.players-table th,
      table.players-table td {
        text-align: center;
        white-space: nowrap;
        padding: 0.45rem 0.7rem !important;
        vertical-align: middle;
      }
    </style>
  </head>

  <body>
    <%- include('layouts/navbar'); %>
    <div class="main-wrapper">
      <div class="gallery-header">
        <h1>Active Players (2026)</h1>
        <p>Bottoms Up Golf League</p>
      </div>
      <table class="table players-table">
        <thead class="table-success">
          <tr>
            <th></th>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone</th>
            <th>Current Handicap</th>
            <th>E-Mail</th>
            <th>Joined</th>
            <th>Active</th>
            <th>Status (Reg/Sub)</th>
          </tr>
        </thead>

        <tbody>
          <% players.forEach(player => { if ((player.status == 'Yes')) { %>

          <tr>
            <td class="text-center">
              <!-- THIS IS YOUR ACCESSIBLE LINK ENTRY POINT -->
              <a
                href="/players/<%= player.id %>/edit"
                class="btn btn-sm btn-success"
                style="border-radius: 6px; padding: 0.25rem 0.75rem"
              >
                Edit
              </a>
            </td>
            <td>
              <%= player.id %>
            </td>
            <td>
              <%= player.name_last %>
            </td>
            <td>
              <%= player.name_first %>
            </td>
            <td>
              <%= player.phone %>
            </td>
            <td>
              <%= player.handicap %>
            </td>
            <td>
              <%= player.e_mail %>
            </td>
            <td>
              <%= player.year_joined %>
            </td>
            <td>
              <%= player.status %>
            </td>
            <td>
              <%= player.type %>
            </td>
          </tr>
          <% }}) %>
        </tbody>
      </table>
    </div>
  </body>

  <%- include('layouts/footer'); %>
  <%- include('layouts/scripts'); %>
</html>
