<!doctype html>
<html lang="en">

<%- include('./layouts/header'); %>
<% const videos = [
      "079fb77a-bc16-425f-98dd-ef2238584426",
      "41bbd58c-5312-45cb-81e9-215efb3fda2f",
      "57fba875-3ebd-4e6f-bb1c-08d48ccd1229",
      "75a803cf-5514-4d70-93e7-e43c809c58e5",
      "18d5fc1c-9428-43ac-8b04-219cc0e7f616",
      "e0ecd075-478f-41b0-9967-b0d89d006f42",
      "220f0c8d-1e67-4ca4-98a2-5d95f59a8dcd",
      "4eb35152-60ba-4e6d-8317-1bdea3cb5fdb",
      "4934f586-17d0-4ece-83c0-348fa023e58d"
    ]; %>

<body>

  <%- include('./layouts/navbar'); %>

  <div class="main-wrapper">
    <div class="gallery-header">
      <h1>
        <%= year %> Videos
      </h1>
      <p>
        Bottoms Up Golf League
      </p>
    </div>

    <div class="container">
      <div class="row g-3">
        <% videos.forEach(id => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%- include('partials/media-card', {
          type: 'video',
          src: `https://player.mediadelivery.net/embed/551954/${id}?autoplay=false&responsive=true`,
          title: `Video ${id.slice(0,6)}`
        }) %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('./layouts/footer'); %>

  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

  <script>
    const lightbox = GLightbox();
  </script>

</body>

</html>