<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>

  <%- include('./layouts/navbar'); -%>
  <% const videos = [
     "1f9c8e02-5895-4eb7-8035-6ef303a72299",
     "c46e4d7c-0ee6-4a1f-83fd-2a3fd8605971",
     "b6d43072-53c3-4d03-b6f9-bcf06b751e9d",
     "3bed6e36-f220-407c-8beb-e03782b851a7",
     "f00a9c84-b077-4c31-b986-8227251f88d9",
     "fd88e6f0-09e3-4d06-9f05-4cc37ba70ee5",
     "552def17-6a54-4f3e-9ff7-92f83ee8f5e5",
     "f20766ee-1fbf-47a7-bdab-c8ad650ec24f",
     "ee350e02-b4a6-47a2-86bd-1fa573dcb225",
     "a97913a3-fdc9-46d6-966a-3e21f76598b9",
     "a214e453-349d-4e83-8684-09bf210a90e3"
    ]; %>

  <div class="main-wrapper">
    <div class="gallery-header">
      <h1>2025 Videos</h1>
      <p>Moments from 2025</p>
    </div>
    <div class="container">
      <div class="row g-3">
        <% videos.forEach(id => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%- include('partials/media-card', {
          type: 'video',
          src: `https://player.mediadelivery.net/embed/551954/${id}?autoplay=false&responsive=true`,
          title: `Video ${id.slice(0,6)}`
        }) %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('./layouts/footer'); -%>
  <%- include('./layouts/scripts'); -%>

</body>

</html>