<!doctype html>
<html lang="en">
  <head>
    <%- include('./layouts/header'); %>
    <style>
      html {
        overflow-y: auto;
        overflow-x: auto;
      }

      th,
      td {
        margin: 0 auto;
        text-align: center;
      }

      .button-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #53da80;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }

      th {
        background-color: #f4f4f4;
        cursor: pointer;
        user-select: none;
        position: relative;
      }

      th.sort-asc::after {
        content: " ▲";
        position: absolute;
        right: 8px;
      }
      th.sort-desc::after {
        content: " ▼";
        position: absolute;
        right: 8px;
      }
    </style>
  </head>

  <body>
    <%- include('./layouts/navbar'); %>

    <div class="gallery-header">
      <h1>
        Week
        <%= weekId %>
        Results
      </h1>
      <p>Bottoms Up Golf League • 2026 Season</p>
    </div>

    <div style="margin: 0 auto" class="col-md-2">
      <form>
        <select
          class="form-select"
          onchange="if(this.value) window.location=this.value;"
        >
          <option value="">Weekly Results...</option>
          <option value="/scores/weekly/1">Week 1</option>
          <option value="/scores/weekly/2">Week 2</option>
          <option value="/scores/weekly/3">Week 3</option>
          <option value="/scores/weekly/4">Week 4</option>
          <option value="/scores/weekly/5">Week 5</option>
        </select>
      </form>
    </div>

    <div>
      <!-- SUBMIT -->
      <div class="text-center mt-4">
        <a href="/scores/standings" class="button-link">Current Standings</a>
      </div>
    </div>
    <br />

    <table id="sortableTable" class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Gross</th>
          <th>Net</th>
          <th>Points</th>
          <th>CTP Points</th>
          <th>Birdie Points</th>
          <th>Total Points</th>
        </tr>
      </thead>

      <tbody>
        <% results.forEach((player, idx) => { %>
        <tr>
          <td><%= idx + 1 %></td>
          <td><%= player.player_name %></td>
          <td><%= player.gross_total %></td>
          <td><%= player.net_total %></td>
          <td><%= player.stableford_total %></td>
          <td><%= player.ctp_points %></td>
          <td><%= player.birdie_points %></td>
          <td>
            <strong><%= player.total_points %></strong>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('./layouts/footer'); %>
    <%- include('./layouts/scripts'); %>
  </body>
</html>
